In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
flights_data = pd.read_csv("flights.csv")
weather_data_pd = pd.read_csv("weather.csv")
weather_data_np = weather_data_pd.to_numpy()

In [132]:
flights_data.head(10)
weather_data_pd.head(10)

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,1,EWR,2013,1.0,1.0,0.0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0
1,2,EWR,2013,1.0,1.0,1.0,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0
2,3,EWR,2013,1.0,1.0,2.0,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0
3,4,EWR,2013,1.0,1.0,3.0,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0
4,5,EWR,2013,1.0,1.0,4.0,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0
5,6,EWR,2013,1.0,1.0,6.0,39.02,26.06,59.37,270.0,10.35702,11.918651,0.0,1012.0,10.0
6,7,EWR,2013,1.0,1.0,7.0,39.02,26.96,61.63,250.0,8.05546,9.270062,0.0,1012.3,10.0
7,8,EWR,2013,1.0,1.0,8.0,39.02,28.04,64.43,240.0,11.50780,13.242946,0.0,1012.5,10.0
8,9,EWR,2013,1.0,1.0,9.0,39.92,28.04,62.21,250.0,12.65858,14.567241,0.0,1012.2,10.0
9,10,EWR,2013,1.0,1.0,10.0,39.02,28.04,64.43,260.0,12.65858,14.567241,0.0,1011.9,10.0

#Question 1 How many flights were there from JFK to SLC? Int
q_1
#Question 2 How many airlines fly to SLC? Should be int
q_2
#Question 3 What is the average arrival delay for flights to RDU? float
q_3
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA
and JFK)? float
q_4
#Question 5 Which date has the largest average depature delay? Pd slice with date
and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)
q_5
#Question 6 Which date has the largest average arrival delay? pd slice with date
and float
q_6
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice
with tailnumber and speed
#speed = distance/airtime
q_7
#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans
q_8
#%% Numpy Data Filtering/Sorting Question Answering
#Use weather_data_np
#Question 9 How many observations were made in Feburary? Int
q_9
#Question 10 What was the mean for humidity in February? Float
q_10
#Question 11 What was the std for humidity in February? Float
q_11

In [31]:
#QUESTION 1
jfk_to_slc_condition = (flights_data['origin'] == "JFK") & (flights_data['dest'] == 'SLC')
jfk_to_slc_flights = flights_data[jfk_to_slc_condition]
num_flights = jfk_to_slc_flights.shape[0]

print(num_flights)

2113

In [33]:
#QUESTION 2
fly_to_slc_condition = flights_data['dest'] == 'SLC'
flights_to_slc = flights_data[fly_to_slc_condition]
unique_airlines = print(len(flights_to_slc['carrier'].unique()))

2

In [35]:
#QUESTION 3
flights_to_rdu_condition = flights_data['dest'] == 'RDU'
flights_to_rdu = flights_data[flights_to_rdu_condition]
arr_delay = print(flights_to_rdu['arr_delay'].mean())

10.052380952380952

In [43]:
#QUESTION 4
flights_to_sea_condition = flights_data['dest'] == 'SEA'
flights_to_sea = flights_data[flights_to_sea_condition]
flights_from_ny = (flights_to_sea['origin'] == 'JFK') |  (flights_to_sea['origin'] == 'LGA')
proportion = print(flights_from_ny.sum()/flights_to_sea.shape[0])

0.5332653581442773

In [45]:
#QUESTION 5
flights_data['date'] = pd.to_datetime(flights_data[['year', 'month', 'day']])
average_delay_by_date = flights_data.groupby('date')['dep_delay'].mean()
max_delay_value = print(average_delay_by_date.max())
max_delay_date = print(average_delay_by_date.idxmax())

83.5369211514393
2013-03-08 00:00:00

In [47]:
#QUESTION 6
average_delay_by_date = flights_data.groupby('date')['arr_delay'].mean()
max_arr_delay_value = print(average_delay_by_date.max())
max_arr_delay_date = print(average_delay_by_date.idxmax())

85.86215538847118
2013-03-08 00:00:00

In [83]:
#QUESTION 7
flights_out_of_ny_condition = (flights_data['origin'] == 'LGA') | (flights_data['origin'] == 'JFK' ) 
flights_out_of_ny = flights_data[flights_out_of_ny_condition]
flights_data['speed'] = flights_data['distance'] / flights_data['air_time']
max_speed_index = flights_out_of_ny['speed'].idxmax()
fastest_flight = print(flights_out_of_ny.loc[max_speed_index, ['tailnum', 'speed']])

tailnum       N666DN
speed      11.723077
Name: 216447, dtype: object

In [116]:
#QUESTION 8
weather_data_pd = weather_data_pd.fillna(0)
print(weather_data_pd.isna().sum())

Unnamed: 0    0
origin        0
year          0
month         0
day           0
hour          0
temp          0
dewp          0
humid         0
wind_dir      0
wind_speed    0
wind_gust     0
precip        0
pressure      0
visib         0
dtype: int64

In [137]:
#QUESTION 9
february_condition = weather_data_np[:, 3] == 2 
february_data = weather_data_np[february_condition]
num_observations_february = print(february_data.shape[0])

671

In [ ]:
#QUESTION 10